@model IEnumerable<Crafty.Models.Product_tbl>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Base_Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Offer_Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Features)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Descriptation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Sold)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Base_Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Offer_Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Features)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Descriptation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Stock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Sold)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.P_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.P_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.P_ID })
        </td>
    </tr>
}

</table>
