@model Crafty.Models.Payment_tbl


@{
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}


<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
            </div>
            <h4 class="page-title">Payment </h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>
<!-- end page title end breadcrumb -->


<div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <h4 class="mt-0 header-title"></h4>
            <p class="text-muted mb-3">

            </p>

            @using (Html.BeginForm("EditPayment", "Dashboard", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Orders</h4>
	                <hr />
	                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
	                @Html.HiddenFor(model => model.Pay_ID)
	                <div class="form-group">

                        <label>Pay_Method</label>
                        <div class="col-md-10">
	                        @Html.EditorFor(model => model.Pay_Method, new { htmlAttributes = new { @class = "form-control" } })
	                        @Html.ValidationMessageFor(model => model.Pay_Method, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Bkash_Number</label>
                        <div class="col-md-10">
	                        @Html.EditorFor(model => model.Bkash_Number, new { htmlAttributes = new { @class = "form-control" } })
	                        @Html.ValidationMessageFor(model => model.Bkash_Number, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Transaction_ID</label>
                        <div class="col-md-10">
	                        @Html.EditorFor(model => model.Transaction_ID, new { htmlAttributes = new { @class = "form-control" } })
	                        @Html.ValidationMessageFor(model => model.Transaction_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Payment Date</label>
                        <div class="col-md-10">
	                        @Html.EditorFor(model => model.Pay_Date, new { htmlAttributes = new { @class = "form-control" } })
	                        @Html.ValidationMessageFor(model => model.Pay_Date, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Payment Status</label>
                        <div class="col-md-10">
	                        @Html.EditorFor(model => model.Pay_Status, new { htmlAttributes = new { @class = "form-control" } })
	                        @Html.ValidationMessageFor(model => model.Pay_Status, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Payment Amount</label>
                        <div class="col-md-10">
	                        @Html.EditorFor(model => model.Pay_Amount, new { htmlAttributes = new { @class = "form-control" } })
	                        @Html.ValidationMessageFor(model => model.Pay_Amount, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Cart</label>
                        <div class="col-md-10">
	                        @Html.DropDownList("Cart_ID", null, htmlAttributes: new { @class = "form-control" })
	                        @Html.ValidationMessageFor(model => model.Cart_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
	                    <label>Product</label>
	                    <div class="col-md-10">
		                    @Html.DropDownList("P_ID", null, htmlAttributes: new { @class = "form-control" })
		                    @Html.ValidationMessageFor(model => model.P_ID, "", new { @class = "text-danger" })
	                    </div>
                    </div>
                    
                    <div class="form-group">
	                    <label>Customer</label>
	                    <div class="col-md-10">
		                    @Html.DropDownList("U_ID", null, htmlAttributes: new { @class = "form-control" })
		                    @Html.ValidationMessageFor(model => model.U_ID, "", new { @class = "text-danger" })
	                    </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-gradient-primary waves-effect waves-light" value="Edit Payment" />
                        </div>
                    </div>
                </div>
            }

        </div><!--end card-body-->
    </div><!--end card-->
</div> <!-- end col -->



@section scripts {
    <script src="~/plugins/parsleyjs/parsley.min.js"></script>
    <script src="~/scripts/pages/jquery.validation.init.js"></script>
    <script src="~/scripts/jquery.core.js"></script>
}