@model Crafty.Models.Cart_tbl

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cart_tbl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_tbl.Product_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_tbl.Product_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_tbl.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_tbl.Image)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Cart_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
